<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/{{style}}">
    <title>Kakaako</title>
</head>

<body>
    <h1>Aloha!</h1>
    <h3>Welcome to the Heart of Kakaako</h3>
    <img src="https://listingsprod.blob.core.windows.net/ourlistings-usa/be2760f2-0cb8-427e-8349-547707a6977c/b5539196-fc89-42a9-8f9e-2d3f4fd11883-725-438"
        class="kakaakoImg" alt="Kakaako">
    <p>KAKAAKO</p>
    <a href="/businesses">Check Out These New Restaurant Spots</a><br>

</body>

</html>