 /* html {
       height: 100%;
 }
  */
 body {
      text-align: center;
      font-family: 'Alegreya Sans SC', sans-serif;
 }

 
 .welcomeText {
       text-align: center;
       width: 30px;
      height: 40px;
 }

 button {
    font-family: 'Special Elite' sans-serif;
    font-size: 20px;
    background-color: rgb(102, 187, 240);
    box-shadow: 5px 5px 5px #888888;
    color: white;
    padding: 14px 25px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 10px;
}

.createPg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.createBox {
      display: inline-block;
      border-radius: 10px 0px 0px 10px;
      width: 300px;
      height: 450px;
      padding: 10px;
      font-weight: bold;
      box-shadow: 5px 10px 18px #888888;

      
}

#email {
      font-size: 20px;
}


#password {
      font-size: 20px;
}

input[type="text"]
{
    font-size:18px;
}

#signinbuttontext {
      padding-top: 50px;
}

#alohaImg {
    height: 470px;
      display: inline-block;
      border-radius: 0px 10px 10px 0px;
      text-align: center;
      box-shadow: 5px 10px 18px #888888;
}