 html {
       height: 100%;
 }
 
 body {
      display: flex;
      position: static;
      height: 100%;
      margin: 0;
      background-image: linear-gradient(#00B7FF, #FFFFC7);
      background-repeat: no-repeat;
      background-attachment: fixed;
      text-align: center;
      font-family: 'Alegreya Sans SC', sans-serif;
 }

 
 .welcomeText {
       text-align: center;
       width: 30px;
      height: 40px;
 }

 button {
    font-family: 'Alegreya Sans SC', sans-serif;
     font-size: 20px;
}

#createNew {
    font-size: 20px;
    text-transform: uppercase;
    padding: -100px;
}

.createBox {
      background-color: white;
      margin-top: 150px;
      margin-bottom: 10px;
      margin-right: 400px;
      margin-left: 280px;
      border:1px solid whitesmoke;
      border-radius: 12px;
      width: 300px;
      height: 450px;
      position: relative;
      padding: 10px;
      box-shadow: 5px 10px 18px #888888;

      
}

#password {
      font-size: 20px;
}

input[type="text"]
{
    font-size:18px;
}

#signinbuttontext {
      padding-top: 50px;
}

#alohaImg {
     width: 500px;
     height: 460px;
      margin-top: 70px;
      position: absolute;
  top: 80px;
  left: 600px;
   border-radius: 8px;
   padding: 10px;
      box-shadow: 5px 10px 18px #888888;
}