body {
    background: white;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#title {
     font-size: 70px;
     text-shadow: 5px 5px 10px white;
}

#kakaakoImg {
    border-radius: 15px;
}

#welcomeText {
    font-size: 45px;
     margin-top: 15px;
}

#hnl {
    font-size: 35px;
     margin-top: -35px;
}

#explore {
    font-size: 35px;
    text-transform: uppercase;
    padding: -100px;
}

a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  
  a:hover, a:active {
    background-color: rgb(102, 187, 240);
  }