body {
    background: white;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#title {
     font-size: 70px;
     text-shadow: 5px 5px rgb(102, 187, 240);
}

/* button {
    font-family: 'Alegreya Sans SC', sans-serif;
     font-size: 20px;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

/* .userBtns{
    padding: 20px 30px;
} */

#signin {
    background-color: white;
    color: black;
    border: 2px solid rgb(102, 187, 240);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
  }
  
#signin:hover {
    background-color:rgb(102, 187, 240);
    color: white;
    font-weight: bold;
    box-shadow: 5px 10px 18px #888888;
  }


#create {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(102, 187, 240);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
  }
  
#create:hover {
    background-color:rgb(102, 187, 240);
    color: white;
    font-weight: bold;
    box-shadow: 5px 10px 18px #888888;
  }


#kakaakoImg {
    border-radius: 10px;
}

#welcomeText {
    font-size: 45px;
     margin-top: 15px;
}

#hnl {
    font-size: 35px;
     margin-top: -35px;
}

#explore {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    padding: -100px;
}

#explore a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  
#explore a:hover, a:active {
    background-color: rgb(102, 187, 240);
    box-shadow: 5px 10px 18px #888888;
  }

