body {
    background: white;
    font-family: 'Puritan', sans-serif;
}

#exp {
    font-size: 70px;
    margin-left: 20px;
    text-shadow: 5px 5px #f0a242;
}

#cruise {
    max-width: 95%;
    display: inline-block;
}

.des {
    width: 700px;
    height: 100px;
}

.daFood {
    margin-top: -38px;
}

#newFood {
    font-size: 40px;
    margin-left: 55px;
    text-shadow: 2px 5px 3px rgb(184, 178, 178);
}

.foodPics {
    max-width: 20%;
    margin-left: 55px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.foodPics:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
}

#author {
    font-size: 16px;
    margin-left: 100px;
}

.col1 {
  float: left;
  width: 50%;
  padding-left: 100px;
  height: 10px;
}

.col2 {
  float: right;
  width: 70%;
  margin-right: -500px;
  margin-top: 20px;
}

button {
  font-family: 'Puritan', sans-serif;
 background-color:rgb(102, 187, 240);
  margin-right: 40px;
  color: white;
  font-weight: bold;
  border-radius: 5px; 
  border: paleturquoise;
  font-size: 30px;
  padding: 10px;
  }
  
button:hover {
    background-color: rgb(102, 187, 240);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 5px 10px 18px #888888;
  }

/* #post {
  background-color: #557ee6;
  margin-right: 40px;
  color: white;
  font-weight: bold;
  border-radius: 5px; 
  border: paleturquoise;
  font-size: 30px;
  padding: 10px;
} */