<form id='createNew' action="/businesses/auth/register" method="post" enctype="application/x-www-form-urlencoded">
    EMAIL:
    <input type="text" value="james@sexy.com" name="email" placeholder="email"><br>
    PASSWORD:
    <input type="password" name="password" placeholder="password"><br>
    <button type="createNew" form='createNew' value="createNew">Create New Account</button>
</form><br>