<h1>THIS IS KAKAAKO</h1>



<div id="biz"></div>
{{#each business}}
<br>
<a href="/businesses/">
<img src="{{url}}"></a>

<h2 id="author">
    Posted By: {{author}}
</h2>
<p>{{description}}</p>
<br></div>

{{/each}}
