<form id='login' action="/businesses" method="post" enctype="application/x-www-form-urlencoded">
    EMAIL:
    <input type="text" name="email" placeholder="email"><br>
    PASSWORD:
    <input type="password" name="password" placeholder="password"><br>
    <button type="login" form='login' value="login">LOG IN</button>
</form><br>