<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/login.css">
<link
    <href="https://fonts.googleapis.com/css?family=Abel|Alegreya+Sans+SC|Anton|Bree+Serif|Courgette|Dosis|Julius+Sans+One|Poppins|Raleway|Sniglet|Special+Elite"
    rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
</head>

<body>
    <div class="loginPg">
        <form id='login' action="/businesses/auth/login" method="post" enctype="application/x-www-form-urlencoded">
            <div class="loginbox">
                Email:
                <input type="text" name="email" placeholder="email"></input><br><br><br>
                Password:
                <input type="password" id="password" name="password" placeholder="password"></input><br>
                <a id="loginbutton"><br><br>
                    <button id="signinbuttontext" type="login" form='login' value="login">Sign In</button>
                </a>
            </div>
        </form><br>
        <img id="howzitImg"
            src="https://scontent-sea1-1.cdninstagram.com/vp/5d9a2521be19e115f77b9c5b55054b94/5D1D7ACA/t51.2885-15/e35/s480x480/51344790_2534859970073892_9038907907916774080_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com"
            alt="Howzit">
    </div>
</body>

</html>